<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="../static/js/bootstrap.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
        #footer {
            margin-top: 300px;
            height: 100px;
        }
        #header {
         padding: 30px;
        }

    </style>
</head>
<body>
<div class="container-md">
    <h2></h2>
    <div id="header">
        <div class="row">
            <div class="col-md-4" style="color: #FFFFFF">
                <h1 style="color: #000000"> NikotinMessage
                    <button type="button" class="btn btn-primary">Primary</button>
                </h1>
            </div>
            <div class="col-md-3" style="background-color: #FFFFFF">
                <nav class="navbar navbar-light bg-white">
                    <form class="form-inline">
                        <label>
                            <input class="form-control mr-sm-2" type="text" placeholder="Введите запрос">
                        </label>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                style="color: white; background-color: #007BFF; border-color: #007BFF;">Поиск
                        </button>
                    </form>
                </nav>
            </div>
            <div class="col-md-2" style="background-color: #FFFFFF">
                <h2></h2>
                <button type="button" style="padding: 12px 20px;" class="btn btn-primary">ЗАДАТЬ ВОПРОС!!!</button>
            </div>
            <div class="col-md-3" style="background-color: #FFFFFF">
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Massages</a>
                </li>
            </ul>

            <h2></h2>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputnick" class="col-sm-2 col-form-label">Nickname</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control is-invalid" id="inputnick" placeholder="Nickname"
                                       value="" required>
                            </div>
                            <div class="invalid-feedback">
                                Необходимо согласие
                            </div>
                        </div>
                        <h2></h2>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control is-invalid" id="inputPassword3"
                                       placeholder="Email" value="" required>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <h2></h2>
                        <div class="form-group row">
                            <label for="inputEmail4" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control is-invalid" id="inputEmail4"
                                       placeholder="Password" value="" required>
                            </div>
                        </div>
                        <h2></h2>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Пол</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                               value="option1" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                            Мужской
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                               value="option2">
                                        <label class="form-check-label" for="gridRadios2">
                                            Женский
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h2></h2>
                        <div class="custom-file">
                            <div class="col-md-4">
                                <label class="custom-file-label is-valid" for="customFile">Загрузите аватарку: </label>
                            </div>
                            <div class="col-md-4">
                                <input type="file" class="custom-file-input" id="customFile">
                            </div>
                        </div>
                        <h2></h2>
                        <div class="form-group row">
                            <div class="col-sm-6">Согласие на обработку персональных данных</div>
                            <div class="col-sm-6">
                                <div class="form-check is-valid">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">
                                        Я согласен!
                                    </label>
                                    <div class="invalid-feedback">
                                        Необходимо согласие
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2></h2>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Теги
                                <button type="submit" class="btn btn-primary">INFO</button>
                            </h1>
                            <p class="font-italic">
                                <a class="nav-link" style="color: #FFCC19" href="#">SQL</a>
                                <a class="nav-link" style="color: #AACC70" href="#">Python</a>
                                <a class="nav-link" style="color: #DC143C" href="#">CSS</a>
                                <a class="nav-link" style="color: #32CD32" href="#">JS</a>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h1>Люди
                                <button type="submit" class="btn btn-primary">VIP</button>
                            </h1>
                            <a class="nav-link" href="#">Alexandr Konovalov</a>
                            <a class="nav-link" href="#">Vladimir Putin</a>
                            <a class="nav-link" href="#">Olga Byzova</a>
                            <a class="nav-link" href="#">Dmity Volkov</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="footer">
        <div class="row md-4">
            <div class="text-center text-white" style="background-color: #0d6efd;">
                <div class="text-center p-3" style="background-color: #0d6efd">
                    © 2023 Copyright:
                    <a class="text-white" href="#">Nikotincorp.com</a>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>