{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Nikotinmassage {% endblock %}</title>
    <script src="{% static 'js/bootstrap.js' %}"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <style>
        #header {
            padding: 30px;
        }

        #footer {
            margin-top: 460px;
            height: 100px;
        }

        input::placeholder {
            font-size: 1em;
            font-style: italic;
        }
    </style>
</head>
<body>
<div class="container-md">
    <h2></h2>
    <div id="header">
        <div class="row">
            <div class="col-md-4" style="color: #FFFFFF">
                <h1 style="color: #000000"> NikotinMessage
                    <button type="button" class="btn btn-primary">Primary</button>
                </h1>
            </div>
            <div class="col-md-3" style="background-color: #FFFFFF">
                <nav class="navbar navbar-light bg-white">
                    <form class="form-inline">
                        <label>
                            <input class="form-control mr-sm-2" type="text" placeholder="Введите запрос">
                        </label>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                style="color: white; background-color: #007BFF; border-color: #007BFF;">Поиск
                        </button>
                    </form>
                </nav>
            </div>
            <div class="col-md-2" style="background-color: #FFFFFF">
                <h2></h2>
                <button type="button" style="padding: 12px 20px;" class="btn btn-primary">
                    <a class="nav-link" href="{% url 'ask' %}">ЗАДАТЬ ВОПРОС!!!</a>
                </button>
            </div>

            <div class="col-md-3" style="background-color: #FFFFFF">
                {% block registr %}
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="button" class="btn btn-outline-primary">Зарегистрироваться</button>
                            <h2></h2>
                            <button type="button" class="btn btn-outline-primary">Войти</button>
                        </div>
                    </div>
                {% endblock %}
            </div>

            <ul class="nav nav-tabs">
                {% block navigation %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ask' %}">Ask</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hot' %}">Hot</a>
                    </li>
                {% endblock %}
            </ul>
            <h2></h2>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% block mainrow %}
                <div class="card">
                    <div class="card-body">
                        <a class="nav-link" href="https://www.youtube.com/watch?v=gke69PitnHk">НАЖМИ МЕНЯ!</a>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Теги
                                <button type="submit" class="btn btn-primary">INFO</button>
                            </h1>
                            <p class="font-italic">
                                <a class="nav-link" style="color: #FFCC19" href="{% url 'tag' tagname='SQL' %}">SQL</a>
                                <a class="nav-link" style="color: #AACC70" href="{% url 'tag' tagname='Python' %}">Python</a>
                                <a class="nav-link" style="color: #DC143C" href="{% url 'tag' tagname='CSS' %}">CSS</a>
                                <a class="nav-link" style="color: #32CD32" href="{% url 'tag' tagname='JS' %}">JS</a>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h1>Люди
                                <button type="submit" class="btn btn-primary">VIP</button>
                            </h1>
                            <a class="nav-link" href="#">Alexandr Konovalov</a>
                            <a class="nav-link" href="#">Vladimir Putin</a>
                            <a class="nav-link" href="#">Olga Byzova</a>
                            <a class="nav-link" href="#">Dmity Volkov</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% block pagenavigation %}
        {% include 'components/pagination-item.html' %}
    {% endblock %}
    <div id="footer">
        <div class="row md-4">
            <div class="text-center text-white" style="background-color: #0d6efd;">
                <div class="text-center p-3" style="background-color: #0d6efd">
                    © 2023 Copyright:
                    <a class="text-white" href="https://vk.com/olegsandrik">Nikotincorp.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>