{% extends 'app/index.html' %}
{% load static %}
{% block navigation %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Main</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'ask' %}">Ask</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'hot' %}">Hot</a>
    </li>
{% endblock %}
{% block registr %}
    {% for ans in register %}
        {% include 'components/register.html' %}
    {% endfor %}
    {% for ans in notregister %}
        {% include 'components/notregister.html' %}
    {% endfor %}
{% endblock %}
{% block mainrow %}
    <h1 style="color: #000000"> Самые обсуждаемые вопросы </h1>
    {% for question in questions %}
        {% include 'components/question-item.html' %}
    {% endfor %}
{% endblock %}
{% block pagenavigation %}
    {% include 'components/pagination-item.html' %}
{% endblock %}